.search-hotel {
  width: 320px;
  margin: 0 auto;
  padding: 25px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;

}

.search-hotel__title {
  margin: 0;
  padding-bottom: 5px;
  font-size: 21px;
}

.search-hotel__description {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 35px;
}

.search-hotel__button {
  display: block;
  width: 280px;
  height: 58px;
  margin-bottom: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 21px;
  line-height: 58px;
  font-weight: bold;
  color: #ffffff;
  background-color: $link-bg-color;

  &:hover {
    background-color: $hover-link-bg-color;
  }

  &:active {
    color: $active-link-color;
    background-color: $active-link-bg-color;
  }
}

@media (min-width: 768px) {
  .search-hotel {
    width: 768px;
    padding: 47px 155px;
  }

  .search-hotel__title {
    font-size: 30px;
    padding-bottom: 11px;
  }

  .search-hotel__description {
    margin-bottom: 42px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .search-hotel__button {
    width: 458px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .search-hotel {
    width: 1200px;
    padding: 67px 371px;
  }

  .search-hotel__description {
    margin-bottom: 47px;
  }

  .search-hotel__button {
    margin-bottom: 0;
  }
}